<mat-card>
  <mat-card-header>
    <mat-card-title>
      Audio
    </mat-card-title>
    <mat-card-subtitle *ngIf="haveRetrieved">
      Status: {{audio.isOn ? "playing": "not playing"}}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field id="mode" appearance="outline">
      <mat-label>Mode</mat-label>
      <mat-select (selectionChange)="onModeSelected($event.value)" [(value)]="audio.mode">
        <mat-option *ngFor="let mode of audioModes" value="{{mode.value}}">{{mode.label}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div id="timeout" *ngIf="isTimeoutMode()">
      <label>Timeout</label>
      <mat-slider discrete [max]="60" [displayWith]="timeoutFormat">
        <input matSliderThumb (valueChange)="onTimeoutChange()" [(ngModel)]="audio.timeout">
      </mat-slider>
    </div>

    <div>
      <mat-form-field id="type" appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select (selectionChange)="onTypeSelected($event.value)" [(value)]="audio.type">
          <mat-option *ngFor="let type of audioTypes" value="{{type.value}}">{{type.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div id="volume">
      <label>Volume</label>
      <mat-slider discrete>
        <input matSliderThumb (valueChange)="onVolumeChange()" [(ngModel)]="audio.volume">
      </mat-slider>
    </div>
  </mat-card-content>
</mat-card>