<mat-toolbar color="primary">
  <span>Smart Cage</span>
</mat-toolbar>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      Sign In
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" [(ngModel)]="username" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password" />
      </mat-form-field>
    </div>
    <button #signInButton mat-raised-button color="primary" [disabled]="username==='' || password===''"
      (click)="signIn()">
      Login
    </button>
  </mat-card-content>
</mat-card>